<div class="container" style="margin-top:80px;">
  <h3>User Administration</h3>
  <table class='table'>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Username</th>
      <th>Title</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% _.each(users, function(user) { %>
    <tr data-id="<%= user.id %>" data-model="user">
      <% if (user.typeof_user == 2) { %>
      <td>
      <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
      </td>
      <% } else { %>
      <td>
      <td><span class="glyphicon glyphicon-user" style="color:#81ff8b" aria-hidden="true"></span></td>
      </td>
      <% } %>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.surname %></td>
      <td><%= user.email %></td>
      <% if (user.typeof_user == 1) { %>
      <td><span class="glyphicon glyphicon-edit red" aria-hidden="true"></span></td>
      <% } else { %>
      <td><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></td>
      <% } %>
      <% if (user.typeof_user != 1) { %>
      <td><a href="/user/allCategories/<%= user.id %>" class="btn btn-sm btn-primary">Show</a></td>
      <!--
      <td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Edit</a></td>
      -->

      <td>
        <form action="/user/destroy/<%= user.id %>" method="POST">
          <input type="hidden" name="_method" value="delete"/>
          <input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
          <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        </form>
      </td>
      <% } else { %>
      <td></td>
      <td></td>
      <% } %>
    </tr>

    <% }) %>
  </table>
</div>
