<script>
  var p = [];

  $(document).ready(function () {
    <% _.each(o.patterns, function(pattern) { %>
    p.push(<%- JSON.stringify(pattern) %>);
    <% }); %>
  });

  function Vyhodnot(elemId) {
    var pattern;
    var input = document.getElementById(elemId).value;
    for (var i = 0; i < p.length; i++) {
      if (p[i].id == elemId) {
        if (p[i].word_translation == input) {
          var ok = document.getElementById("OK" + elemId).style.visibility = "visible";
          var bad = document.getElementById("BAD" + elemId).style.visibility = "hidden";
          document.getElementById("result"+ elemId).value = 1;
        } else {
          var bad = document.getElementById("BAD" + elemId).style.visibility = "visible";
          var ok = document.getElementById("OK" + elemId).style.visibility = "hidden";
          document.getElementById("result"+ elemId).value = 0;
        }
      }
    }
  }
</script>


<div class="container" style="margin-top: 80px;">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1 id="bla"></h1>
    <form action="/Patterns_into_tests/create" method="POST" class="form-horizontal" id="Answer1">
      <% if (Object.keys(o.patterns).length <= o.count ) { %>
      <% _.each(o.patterns, function(p) { %>
      <div class="form-group">
        <div class="col-md-2"></div>
        <div class=" col-md-8 xx" style=" text-align: left;">

          <label for="exampleInputName2"
                 style="border-radius: 0px 15px 0px 17px; padding: 8px; border-style: hidden; background-color: rgba(105, 150, 140, 0.46);">
            <%= p.word %>
          </label>
          <input type="hidden" name="name_pattern" value="<%= p.word %>"/>
          <input type="hidden" name="id_pattern" value="<%= p.id %>"/>
          <input type="text" class="form-control shadowX" id="<%= p.id %>" name="answer" placeholder="Answer" onkeyup="Vyhodnot(this.id)">
          <input type="hidden" id="result<%= p.id %>" name="result" value="0"/> <!-- 0 zle, 1 dobre-->
          <span class="glyphicon glyphicon-ok" id="OK<%= p.id %>" aria-hidden="true"
                style="color:#40ef00; visibility: hidden; margin: 5px;"></span>
          <span class="glyphicon glyphicon-remove" id="BAD<%= p.id %>" aria-hidden="true"
                style="color:rgba(255, 42, 46, 0.64); visibility: hidden; margin: 5px;"></span>

        </div>
        <div class="col-md-2"></div>
      </div>

      <% }); %>

      <!-- Button -->
      <div class="form-group">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <input type="submit" class="btn btn-lg btn-primary btn-block" value="Evaluate results"/>
          <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
          <input type="hidden" name="id_test" value="<%= o.id_test %>"/>
          <input type="hidden" name="id_user" value="<%= o.id_user %>"/>

        </div>
        <div class="col-md-3"></div>
      </div>
    </form>
  </div>

  <div class="col-md-3"></div>
  <% } else { %>

  <div class="alert alert-info" style="margin-top: 90px;">
    <strong>Info!</strong> This test does not have any patterns.
  </div>

  <% } %>

</div>


<!--
     { id_test: 5,
  patterns:
   [ { id_category: 8,
       word: 'slon',
       word_translation: 'elephant',
       id: 15,
       createdAt: null,
       updatedAt: null },
     { id_category: 8,
       word: 'maÄka',
       word_translation: 'cat',
       id: 16,
       createdAt: null,
       updatedAt: null },
     { id_category: 8,
       word: 'pes',
       word_translation: 'dog',
       id: 17,
       createdAt: null,
       updatedAt: null } ] }

-->
